<footer class="footer">
    <div class="content has-text-centered">
        <p><strong>Web Mac Control</strong> by <a href="http://www.peterseabrook.com">Peter Seabrook</a>.</p>
        <button class="button is-medium">
            <span class="icon is-medium">
              <a href="http://www.instagram.com/petelah"><i class="fab fa-instagram"></i></a>
            </span>
        </button>
        <button class="button is-medium">
            <span class="icon is-medium">
              <a href="http://github.com/petelah"><i class="fab fa-github"></i></a>
            </span>
        </button>
    </div>
</footer>