{% extends "layout.html" %}
{% block content %}
<section class="section">
    <container class="container">
        <div class="columns is-mobile">
            <div class="column">
                <div class="field">
                  <input id="switchWeb" type="checkbox" name="switchWeb" class="switch is-rtl" checked="checked">
                  <label for="switchWeb">Web</label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                  <input id="switchAPI" type="checkbox" name="switchAPI" class="switch is-rtl" checked="checked">
                  <label for="switchAPI">API</label>
                </div>
            </div>
        </div>
    </container>
</section>
{% endblock content %}



